<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<!-- <main id="root">
  not working
</main> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta property="og:title" content="Toasty">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://toasty-sf.herokuapp.com/#/">
    <meta property="og:image" content="https://toasty-dev.s3-us-west-1.amazonaws.com/linkedin_toasty.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta charset="UTF-8"/>
    <meta name="turbolinks-cache-control" content="no-cache"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="icon" href="https://toasty-dev.s3-us-west-1.amazonaws.com/favicon.ico" type="image/x-icon" />

  </head>
  <main id="root">
    not working
  </main>
</html>