@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

.cart-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
    border: rgb(230, 230, 230) 1px solid;
    border-radius: 1%;
}

.new-cart-div {
    padding: 5%;
    /* padding-left: 7%; */
    width: 85%;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 20% 20% 20% 20% 20%;
    border: rgb(230, 230, 230) 1px solid;
    border-radius: 1%;
}

.cart-item-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    text-align: center
}

.quantity {
    display: inline-block;
}

.quantity-word {
    padding-top: 1%;
    color: black;
    font-size: 15px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: lighter;
    display: inline-block
}

.quantity-num {
    padding-top: 1%;
    padding-left: 1%;
    color: black;
    font-size: 15px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: lighter;
    display: inline-block

}

.cart-item-price {
    color: black;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Maven Pro', sans-serif;
}

.buy-page {
    display: flex;
    justify-content: center;
    padding: 2%
}

.delete-item-in-cart {
    /* display: flex; */
    padding: 0px;
    border: none;
    outline: none;
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    color: rgb(128, 128, 128);
    background-color: transparent;
    display: inline-block

}

.delete-item-in-cart:hover {
    cursor: pointer;
    color: black;
}

.checkout {
    outline: none;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    width: 40%;
    height: 15%;
    background-color: black;
    font-family: 'Spartan', sans-serif;
    font-size: 19px;
    color: white;
}

.checkout:hover {
    cursor: pointer;
    background-color: rgb(102, 102, 102)
}

.checkout-div {
    display: flex;
    justify-content: center
}

@media only screen and (max-width: 1300px) {
    .new-cart-div {
        padding: 5%;
        padding-right: 2%;
        width: 85%;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 20% 20% 20% 20%;
        border: rgb(230, 230, 230) 1px solid;
        border-radius: 1%;
        column-gap: 5%
    }
}

@media only screen and (max-width: 1188px) {
    .new-cart-div {
        padding: 5%;
        padding-right: 2%;
        width: 85%;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 20% 20% 20%;
        border: rgb(230, 230, 230) 1px solid;
        border-radius: 1%;
        column-gap: 17%;
    }

    .cart-item-div {
        width: 200px;
    }
}