@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

ul.categories-bar li {
    display: flex;
}

.categories-bar {
    padding-left: 2%;
    display: grid;
    grid-template-columns: 14.5% 12% 10.8% 12% 14.9% 12.5% 10.5% 7% 6%;
    grid-template-rows: 100% 100%;
    grid-template-areas: 
        "jewelry clothing home wedding toys art crafting vintage gifts"
        "animation animation animation animation animation animation animation animation animation";
    align-items: center;
}

.category-jewelry {
    font-family: 'Crimson Text', serif;
    color: rgb(140, 140, 140);
    font-size: 17px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    grid-area: jewelry;;
}

.category-jewelry:hover ~ hr {
    width: 10.45%;
} 

.category-jewelry:hover {
    cursor: pointer;
}

.category-clothing {
    font-family: 'Crimson Text', serif;
    color: rgb(140, 140, 140);
    font-size: 17px;
    list-style-type: none;
    padding-left: 1.5%;
    padding-right: 1.5%;
    grid-area: clothing;
}

.category-clothing:hover  ~ hr {
    margin-left: 14.6%;
    width: 8.23%;
}

.category-clothing:hover {
    cursor: pointer;
}

.category-home {
    font-family: 'Crimson Text', serif;
    color: rgb(140, 140, 140);
    font-size: 17px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    grid-area: home;
}

.category-home:hover ~ hr {
    margin-left: 26.5%;
    width: 7.4%;
    cursor: pointer
}

.category-home:hover {
    cursor: pointer;
}

.category-wedding {
    font-family: 'Crimson Text', serif;
    color: rgb(140, 140, 140);
    font-size: 17px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    grid-area: wedding;
}

.category-wedding:hover ~ hr {
    margin-left: 37.5%;
    width: 8.1%;
}

.category-wedding:hover {
    cursor: pointer;
}

.category-toys {
    font-family: 'Crimson Text', serif;
    color: rgb(140, 140, 140);
    font-size: 17px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    grid-area: toys;
}

.category-toys:hover  ~ hr {
    margin-left: 49.5%;
    width: 10.5%;
}

.category-toys:hover {
    cursor: pointer;
}

.category-art {
    font-family: 'Crimson Text', serif;
    color: rgb(140, 140, 140);
    font-size: 17px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    grid-area: art;
}

.category-art:hover ~ hr {
    margin-left: 64.25%;
    width: 8.45%;
}

.category-art:hover {
    cursor: pointer;
}

.category-crafting {
    font-family: 'Crimson Text', serif;
    color: rgb(140, 140, 140);
    font-size: 17px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    grid-area: crafting;
}

.category-crafting:hover ~ hr {
    margin-left: 76.8%;
    width: 6.7%;
}

.category-crafting:hover {
    cursor: pointer;
}

.category-vintage {
    font-family: 'Crimson Text', serif;
    color: rgb(140, 140, 140);
    font-size: 17px;
    padding-left: 1.5%;
    padding-right: 2.5%;
    grid-area: vintage;
}

.category-vintage:hover ~ hr {
    margin-left: 87.3%;
    width: 3.6%;
}

.category-vintage:hover {
    cursor: pointer;
}

.category-gifts {
    font-family: 'Crimson Text', serif;
    color: rgb(140, 140, 140);
    font-size: 17px;
    display: inline;
}

.gift {
    width: 15px;
    height: 15px
}

.gifts-div {
    display: flex;
    padding-left: 2.5%;
    padding-right: 1.5%;
    grid-area: gifts;
}

.gifts-div:hover {
    cursor: pointer;
}

.gifts-div:hover ~ hr {
    margin-left: 94.2%;
    width: 3.35%;
}

.categories-horizontal {
    width: 100%;
    height: 1px;
    border: .2px solid rgb(191, 191, 191);
    margin-bottom: 10px;
    margin-top: 10px;
}

.category-animation {
    height: 2px;
    width: 0;
    margin: 0;
    background: black;
    border: none;
    transition: .3s ease-in-out;
    grid-area: animation
}

@media only screen and (max-width: 1069px) {
    .categories-horizontal {
        margin-top: 18px
    }
}


