@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.idx-images {
    width: 200px;
    height: 200px;
    padding: 2px;
}

.edit-idx-images {
    width: 200px;
    height: 200px;
    padding: 2px;
}

.idx-images:hover {
    background-color: rgb(242, 242, 242);
}

.show-image {
    height: 50%;
    width: 50%;
    border-radius: 2%;
    box-shadow: rgb(128, 128, 128);
    margin-left: 100px;
    min-width: 450px;
    max-width: 450px;
    min-height: 450px;
    max-height: 450px;
}


.show-div {
    display: flex;
    padding: 25px;

}

.info-div {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: 50%;
}

.name-product {
    padding: 10px;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
}

.description-product {
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
}

.price-product {
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.label-description {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color: rgb(128, 128, 128);
    padding: 10px;
}

.pop-up-enter {
  	opacity: .01;
	transform: scaleX(0) translateY(25px) 
}

.pop-up-enter.pop-up-enter-active {
  	opacity: 1;
	transform: scaleX(1) translateY(0);
	transition: all 500ms ease-in-out;
}

.pop-up-leave {
  	opacity: 1;
	transform: scaleX(1) translateY(0);
}

.pop-up-leave-active {
  	opacity: 01;
	transform: scaleX(0) translateY(25px);
	transition: all 300ms ease-in-out
}

.added-cart {
    border: 1px solid rgb(242, 242, 242);
    background-color: rgb(255, 92, 57);
    border-radius: 5px;
    padding: 12px;
    /* padding-right: 6px; */
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    /* left: 30px; */
    /* top: 1%;
    right: 15.5%; */
    border-radius: 5px;
    color: white
}

.disable-link {
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Crimson Text', serif;
    font-size: 15px;
    color:rgb(115, 115, 115);
    background-color: transparent
}

.disable-link:hover ~ .disable-div{
    opacity: 1;
}

.disable-div {
    cursor: default;
    border: 1px solid black;
    padding: 10px;
    opacity: 0;
    background-color: white;
    display: inline-block;
    width: 300px;
    position: absolute;
    top: 325px;
    z-index: 99;
    transition: all .3s ease-in-out;
}

