@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');


.nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    height: 85px;
}

.toasty-title {
    display: inline-block;
    color: rgb(255, 92, 57);
    font-family: 'Crimson Text', serif;
    font-size: 50px;
    padding-left: 40px;
    flex-shrink: 0;
}

.nav-bar {
    display: flex;
    justify-content: left;
    padding-left: 25px;
    padding-top: 12px;
}

.search-div {
    width: 65%;
    padding-top: 9px;
}

.search-bar {
    display: inline-block;
    margin: 10px;
    height: 50px;
    flex-grow: 1;
    min-width: 95%;
    border-radius: 25px;
    background-color: rgb(241, 243, 244);
    outline: none;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: rgb(126, 145, 154);
    padding-left: 18px;
    transition: background-color 1s
}

.search-bar:focus {
    background-color: white;
    border: 1px solid black;
    transition: background-color 1s
}

.button-divs {
    width: 300px;
    display: flex;
    justify-content: space-around;
    padding-right: 1%;
    padding-left: 1%;
}

.test {
    border: none;
    outline: none;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: rgb(128, 128, 128);
    background-color: transparent
}

.test:hover {
    cursor: pointer;
    color: black;
}

.title-search {
    display: flex;
}

.sign-in-test {
    padding: 40px;
    display: inline-block;
    border: none;
    outline: none;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: rgb(128, 128, 128);
    background-color: white;
}

.sign-in-test:hover {
    cursor: pointer;
    color: black;
}
