@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

.header {
    display: inline-block;
    padding: 15px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: rgb(179, 179, 179)
}

.products {

    font-size: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: none;
    outline: none;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

.grid-item:hover {
    background-color: rgb(242, 242, 242);
}

.links {
    text-decoration: none;
    color:blue
}