.page {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 249, 229);
    /* margin: 10px; */
    align-items: center;
    justify-content: center;
}

.form-page {
    display: inline-block;
    background-color: white;
    height: 90%;
    width: 95%;
    margin: 20px;
    
}