@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.list {
  border: 1px solid rgb(217, 217, 217);
  background-color: white;
  opacity: .99;
  border-radius: 5px;
  display: inline-block;
  flex-direction: column;
  padding: 5px;
  width: 94%;
  margin-left: 20px;
  /* height: 200px;
  transition: height 2s */
}

.search-form {
  height: 76px;
}

.search-link {
  text-decoration: none;
  color: black;
  margin: 5px;
  display: flex;
  height: 25px;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.link-div:hover {
  background-color: rgb(242, 242, 242);
  cursor: pointer;
}

.display-enter {
  opacity: 0;
}

.display-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.display-exit {
  opacity: 1
}

.display-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.search-background {
  z-index: 10;
}

.link-div {
  display: flex;
  align-items: center;
}

/* .link-img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  padding: 5px;
} */