@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

.user-shop {
    font-family: 'Crimson Text', serif;
    font-size: 25px;
    padding-left: 2%;
}

.create-button {
    padding-left: 1%;
    padding-top: 1%
}